<h1 class="text-center">Showing Article!</h1>
<p>
    ID:<%= @article.id%>
</p>
<p>
    Title:<%= @article.title%>
</p>
<p>
    Description:<%= @article.description%>
</p>
<p> <%= link_to "Edit this Article", edit_article_path(@article)%></p>
<p> <%= link_to "Back to Artilce Listing", articles_path%></p>